API_BASE_URL=https://dev.thunderlab.id

API_LOGIN_ENDPOINT=/api/method/thunder_erp.api.auth.login_and_get_sid
API_FORGOT_PASSWORD_ENDPOINT=/api/method/frappe.core.doctype.user.user.reset_password

VITE_API_SALES_ORDER_ENDPOINT=
VITE_API_CREATE_DELIVERY_NOTE_FROM_SO_ENDPOINT=
VITE_API_DELIVERY_NOTE_ENDPOINT=
VITE_API_PENDING_SALES_ORDERS_ENDPOINT=

API_RETURNABLE_DELIVERY_NOTES_ENDPOINT=/api/method/thunder_erp.api.dn_picker.get_returnable_delivery_notes
API_DELIVERY_NOTE_RETURN_ENDPOINT=/api/method/thunder_erp.api.dn_picker.delivery_note_return
API_UPLOAD_DN_PHOTO_ENDPOINT=/api/method/thunder_erp.api.dn_picker.upload_dn_photo