# Use /api/thunder for local development to avoid Safari CORS/Cookie blocking
VITE_API_BASE_URL=/api/thunder
THUNDER_API_TARGET=https://dev.thunderlab.id
VITE_API_LOGIN_ENDPOINT=/api/method/thunder_erp.api.auth.login_and_get_sid
VITE_API_PENDING_SALES_ORDERS_ENDPOINT=/api/method/thunder_erp.api.dn_picker.get_pending_sales_orders
VITE_API_SALES_ORDER_ENDPOINT=/api/method/thunder_erp.api.dn_picker.get_delivery_note
VITE_API_DELIVERY_NOTES_CL_ENDPOINT=/api/method/thunder_erp.api.dn_picker.get_delivery_note_cl
VITE_API_CREATE_DELIVERY_NOTE_FROM_SO_ENDPOINT=/api/method/thunder_erp.api.dn_picker.create_delivery_note_from_so
VITE_API_DELIVERY_NOTE_ENDPOINT=/api/method/thunder_erp.api.dn_picker.delivery_note_submit
VITE_API_DELIVERY_NOTE_RESOURCE=/api/resource/Delivery%20Note
VITE_API_DELIVERY_NOTES_BATCH_ENDPOINT=/api/method/thunder_erp.api.dn_picker.delivery_note_submit_batch
VITE_APP_MODE=PICKING
